{% extends 'store/base.html' %}

{% block content %}

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="card ">
        
        <div class="card-body">
          <div class="card-header bg-secondary text-white">
            <h5 class="">My Addresses</h5>
          </div>
          {% if address %}
            <div class="address-card mb-4">
              <div class="card-body">
                <div class="address-header">
                  <h6 class="card-title font-weight-bold">{{ address.branch }}</h6>
                  {% if address.is_default %}
                    <span class="badge badge-success">Default</span>
                  {% endif %}
                </div>
                <p class="card-text">
                  {{ address.house_name }}<br>
                  {{ address.city }}, {{ address.district }},<br>
                  {{ address.state }} - {{ address.zip_code }},<br>
                  {{ address.country }}<br>
                  Phone: {{ address.phone_number }}
                </p>
              </div>
            </div>
          {% else %}
            <p class="text-muted">You have no saved addresses.</p>
          {% endif %}
        </div>
      </div>
    </div>
    
    

    <div class="col-md-4">
      <div class="card shadow mb-5">
        
        <div class="card-body shadow">
          <div class="card-header bg-secondary text-white mb-3">
            <h4 class="font-weight-semi-bold mb-0">Order Summary</h4>
          </div>
          <div class="order-summary">
            <ul class="product-list">
              {% for item in cart_items %}
              <li>
                <span>{{ item.productvariant.product.name }}</span>
                <span>₹{{ item.price }}</span>
              </li>
              {% endfor %}
            </ul>
           
            <div class="subtotal">
              <span class="label">Subtotal:</span>
              <span class="value">₹{{ total_price }}</span>
            </div>
            <div class="shipping">
              <span class="label">Shipping:</span>
              <span class="value">₹0</span>
            </div>
            <hr>
            <div class="total">
              <span class="label">Total:</span>
              <span class="value">₹{{ total_price }}</span>
            </div>
          </div>
          
          <!-- Payment options -->
          <div class="payment-options">
            <h5 class="font-weight-medium mb-4">Choose Payment Method</h5>
            <div class="payment-option">
              <label class="custom-radio">
                <input type="radio" name="paymentOption" id="upi" value="upi" checked>
                <div class="payment-label">
                  <img src="https://w7.pngwing.com/pngs/73/360/png-transparent-india-bhim-unified-payments-interface-mobile-phones-india.png" alt="UPI">
                  <span>UPI</span>
                </div>
              </label>
            </div>
            <div class="payment-option">
              <label class="custom-radio">
                <input type="radio" name="paymentOption" id="COD" value="COD">
                <div class="payment-label">
                  <img src="https://png.pngtree.com/png-clipart/20210523/original/pngtree-cash-on-delivery-green-stamp-cod-png-image_6331297.jpg" alt="Cash on Delivery">
                  <span>Cash on Delivery</span>
                </div>
              </label>
            </div>
            <!-- Debug Output -->
            
<!-- Debug Output -->
<p>Wallet: {{ wallet.user }}</p>

<p>Wallet Balance: {{ wallet.balance }}</p>
<p>Total Price: {{ total_price }}</p>
{% if wallet.balance >= total_price %}
    <p>Wallet Balance: {{ wallet.balance }}</p>
    <p>Total Price: {{ total_price }}</p>
{% else %}
xdfcgvhbjnkml,
{% endif %}


            <div class="payment-option" {% if wallet.balance >= total_price %}style="display: block;"{% else %}style="display: none;"{% endif %} id="walletOption">
              <label class="custom-radio">
                  <input type="radio" name="paymentOption" id="PUW" value="PUW">
                  <div class="payment-label">
                      <img src="data:image/jpeg;base64,..." alt="Wallet">
                      <span>Wallet</span>
                  </div>
              </label>
          </div>
          
          </div>
          
          
          
          <button class="btn btn-block btn-primary mt-4" id="proceedBtn">Proceed to Payment</button>
        </div>
      </div>
    </div>
  
    
  </div>
</div>

<style>
  .payment-options {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .payment-option {
    margin-bottom: 15px;
  }
  
  .custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .custom-radio input[type="radio"] {
    display: none;
  }
  
  .payment-label {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .payment-label img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  /* Style for the selected radio button */
  .custom-radio input[type="radio"]:checked + .payment-label {
    font-weight: bold;
    color: #007bff;
  }
  
  /* Style for the hover effect */
  .custom-radio:hover {
    background-color: #f0f0f0;
  }
  
  
  /* Your custom CSS styles */
  .order-summary {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .product-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .subtotal,
  .shipping,
  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .custom-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  .address-card {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  
  .address-card:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .address-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .badge-success {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 5px;
  }
  
  .card-title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .card-text {
    font-size: 14px;
    color: #555;
  }
  
  .text-muted {
    font-size: 14px;
    color: #999;
  }
  
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-oT7FQ/GCXR5p1sg6A6CZAidV3yTQd4b7DO+zX20zEKA=" crossorigin="anonymous"></script>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

  document.getElementById("proceedBtn").addEventListener("click", function () {
    var paymentOption = document.querySelector('input[name="paymentOption"]:checked').value;


    if (paymentOption === "COD") {
      // Code for Cash on Delivery
      alert('hedgfhgfgn');
      window.location.href = "/cash_order/{{ address.id}}";
      
      console.log("Cash on Delivery selected");
    } else if (paymentOption === "upi") {
      // Code for Razorpay
      initiateRazorpayPayment();
      console.log("Pay Using Razorpay selected");
    } else if (paymentOption === "PUW") {
      // Code for Pay Using Wallet\
      alert("Your Paying using wallet");
      window.location.href = "{% url 'pay_wallet' address.id %}";
      console.log("Pay Using Wallet selected");
    }
  });

  function initiateRazorpayPayment(){

    // Make an AJAX POST request to initiate the payment
    $.ajax({
        type: "POST",
        url: "/initiate_payment/",  // Replace with the actual URL of your Django view
        headers: { "X-CSRFToken": "{{ csrf_token }}" }, // Add this line to include the CSRF token
        dataType: 'json',  // Expect JSON response from the server
        success: function(response) {
            // Update the options with the received data from the server
            var options = {
                "key": response.key,
                "amount": response.amount,
                "currency": response.currency,
                "name": "Palleta.ltd",
                "description": "Thank you for purchasing from us",
                "image": "https://cdn-icons-png.flaticon.com/128/11258/11258416.png",
                "order_id": response.order_id,
                "handler": function (response) {

                    var paymentId = response.razorpay_payment_id;
                    var orderId = response.razorpay_order_id;
                    var signature = response.razorpay_signature;

                    $.ajax({
                        type: "POST",
                        url: "/online_payment_order/{{ address.id}}",
                        headers: { "X-CSRFToken": "{{ csrf_token }}" },
                        data: {
                            payment_id: paymentId,
                            orderId: orderId,
                            signature: signature
                        },
                        success: function(response) {
                            var id = response.orderId
                            console.log("Order ID:", id);
                            window.location.href ={% url 'order_success'%}

                            console.log("Order placed successfully!");
                        },
                        error: function(xhr, status, error) {
                            // Handle the error if any
                            console.log(xhr.responseText);
                            alert("Error placing the order. Please try again.");
                        }
                    });


                },
                "prefill": {
                    "name": "Palleta.ltd",
                    "email": "palletacompany@gmail.com",
                    "contact": "9000090000"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            // Create a new instance of Razorpay with updated options
            var rzp1 = new Razorpay(options);

            // Handle the payment response
            rzp1.on('payment.failed', function(response) {
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            });

            // Open the Razorpay payment popup
            rzp1.open();
        },
        error: function(xhr, status, error) {
            // Handle the error if any
            console.log(xhr.responseText);
            alert("Error initiating payment. Please try again.");
        }
    });

    e.preventDefault();
};

</script>

  {% endblock %}
