
{% extends 'store/base.html' %}


		
{% block content %}
<style>
    

  
  
  .texts{
    font-family: "Lucida Console", "Courier New", monospace;
  }
  .half-container {
    display: flex;
    height: 120vh;
    
  }

  .form-container {
    border: 1px solid #ccc;
  }
  @media (max-width: 450px) {
    .h-custom {
    height: 100%;
    }
    }
    .divider:after,
    .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
    }
    .h-custom {
    height: calc(100% - 73px);
    }

  
</style>


    <!-- first class -->
          <section class=" vh-150 my-5" >
            <div class="container-fluid h-custom my-2  "  >
              <div class="row d-flex justify-content-center align-items-center h-150 my-5">
                
              
                <div class="img-container">
                    <img src="https://cdn11.bigcommerce.com/s-x49po/images/stencil/1280x1280/products/74386/111646/1630169598435_IMG_20200930_135106__70150.1630495879.jpg?c=2" class="img-fluid" alt="Phone image"
                        style="width: 36rem; height: 38rem; object-fit: cover; flex:1">
                </div>
               
                <div class="col-md-7 col-lg-5 col-xl-5 offset-lg-1 my-5" style="border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; height: 38rem; border-radius: 0 5px 5px 0;" >
                  <div class="d-flex justify-content-center" >
                    <h4 class="texts font-monospace fw-bolder  my-3" style="padding-top:50px;">SIGN IN WITH PALLETA</h4>
                </div>
                  <div class="my-5 mx-4 col-12 ">
                    
    
                    <form  method="POST" action="{% url 'password_reset' %}">
                        {%csrf_token %}
                      
                        <!-- Email input -->
                        <div class="form-outline mb-4" style=" width: 92%;" >
                          
                        </div>
    
                        <!-- Password input -->
                        <div class="form-outline mb-3" style=" width: 92%;" >
                            <label class="form-label" for="form1Example23">Email Input</label>
                            <input type="text" name="email" id="form1Example23" class="form-control form-control-lg" placeholder="Enter a Valid email address" required/>
                            
                        </div>
                        <div class="d-flex  justify-content-between mt-3 " >
                            <a href="/signin" style="margin-right: 20%;">Login</a>
                            <a href="/signup" style="margin-right: 10%;">Register</a>

                        </div>
    
                       
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-danger rounded-4 btn-lg btn-block my-5 " style="margin-left:25% ;width: 40%;">Reset Password</button>
    
                    </form>
                </div>
              </div>
            </div>
          </section>

{% endblock %}
 