{% extends 'admin/main.html' %}


{% block content %}

<button class="fixed-button" onclick="window.location.href = '/product'">&lt;</button>

<h1 class="d-flex justify-content-center my-3 font-weight-bold my-5 mb-3" style="font-family: 'Times New Roman', serif; color: black; text-decoration: underline; font-size: 32px;">Category List</h1>





  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th> Name</th>
          <th>Image</th>
          <th>Category</th>
          <th>size</th>
          <th>prize</th>
          <th>Edit</th>
          <th>Enable/Disable</th>
        </tr>
      </thead>
      <tbody>
        {% for category in variants %}
          <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.product.name }}</td>
            <td>
              {% if category.product.image %}
                <div style="width: 100px; height: 100px; overflow: hidden;">
                  <img src="{{ category.product.image.url }}" alt="{{ category.name }}" style="max-width: 100%; max-height: 100%;">
                </div>
              {% else %}
                No image available
              {% endif %}
            </td>
            </td>
            <td>{{category.category }}</td>
            <td>{{ category.size }}</td>
            <td>{{ category.price }}</td>
            <td>
              <a href="{% url 'edit_category' category.id %}" class="btn btn-outline-primary btn-sm " style="border-radius:10%">
                Edit
              </a>
            </td>
            <td style="margin-left:100px">
              {% if category.enabled %}
                <a href="{% url 'disable_category' category.id %}" class="btn btn-sm" style="background-color: #e7e7e7; color: black;border-radius:10%">
                  Disable
                </a>
              {% else %}
                <a href="{% url 'enable_category' category.id %}" class="btn btn-outline-success btn-sm" style="color: green;border-radius:10%">
                  Enable
                </a>
              {% endif %}
            </td>
            
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}

